@import "./fonts.css";
@import "./tailwind.css";
@import "./theme.css";

/* スクロールバー非表示 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
